<% include header.ejs %>
<div class="container">
<h3>
Account for <%= accountEmail %>
</h3>
<div class="jumbotron" style="padding-top: 35px; padding-bottom: 10px;">
	<div class="row">
			<div class="col-sm-4 text-center">
<div class="panel panel-default">
<div class="panel-body">
<h5 class="hidden-sm">Bounties Sent</h5>
<h5 class="hidden-xs hidden-md hidden-lg hidden-xl">Sent</h5>
<h3>
<b><%= sent %></b>
</h3>
<small class="text-muted">Σ</small>
<b class="hidden-md hidden-lg hidden-xl ">0</b>
<b class="hidden-xs hidden-sm "></b>
<b>XRP</b>
</div>
<div class="panel-footer">
	<b>Withdrawls: <%= withdrawls %> XRP</b>
</div>
</div>
			</div>
			<div class="col-sm-4 text-center">
<div class="panel panel-default">
<div class="panel-body">
<h5 class="hidden-sm">Bounties Received</h5>
<h5 class="hidden-xs hidden-md hidden-lg hidden-xl">Received</h5>
<h3>
<b><%= received %></b>
</h3>
<small class="text-muted">Σ</small>
<b class="hidden-md hidden-lg hidden-xl ">0</b>
<b class="hidden-xs hidden-sm "></b>
<b>XRP</b>
</div>
<div class="panel-footer">
<b>Deposits: <%= deposits %> XRP</b>
</div>
</div>
			</div>
<div class="col-sm-4 text-center">
<div class="panel panel-default">
<div class="panel-body">
<h5><i class="xrp hidden-sm"></i> Balance</h5>
<h3 class="hidden-xs hidden-lg hidden-xl"><b><%= balance %></b></h3>
<h3 class="hidden-sm hidden-md"><b><%= balance %></b></h3>
<b>XRP</b>
</div>
<div class="panel-footer">
<b><a href="/deposit">Deposit</a> | <a href="/withdraw">Withdraw</a> <i class="fa fa-paper-plane"></i></b>
</div>
</div>
</div>

</div> </div>
<hr />
</div>
</div>
</div>
</div> 


<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/accountlookup.js"></script>
</body>
</html>