<% include header.ejs %>
<div class="container">
<h3> <a href="/deposit"><i class="fa fa-arrow-left"></i></a>
<b>XRPL</b>
Deposit
</h3>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<script>
            var ably = new Ably.Realtime('mMv5YA.3yyHJw:g0oqcja_Hs7C_LRu');
            var channel = ably.channels.get('4eb5413585d522383f9f');

            channel.subscribe('deposit', function(message) {
                var d = JSON.parse(message.data)
                console.log('DEPOSIT', d)
                if (swal.getState().isOpen) {
                    swal.close()
                }
                swal(d.amount + " XRP received!", "Happy tipping, @jeremy_stover!", {
                    icon: 'success',
                    buttons: {
                        cancel: "Close",
                        overview: 'View deposits',
                      },
                })
                    .then(function(e){
                        if (e) {
                            document.location.href = 'https://www.xrptipbot.com/account#___deposittype'
                        }
                    })
            })
        </script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<p>
Hi
<code><%= accountEmail %></code>,
</p>
<p>
Send XRP to the address &amp; destination tag displayed below to add XRP.
You can use your XRP to
<a href="/about"> encourage people to respond to your email quickly.</a>.
You can <a href="/withdraw">withdraw</a> any time you like.
</p>
<style>
        .text-white {
            color :#fff !important;
        }
    </style>
<ul class="nav nav-tabs nav-justified">
<li class=""><a href="/deposit/x" class=""><h5 class="" style="font-weight: 400 !important;">X-address</h5></a></li>
<li class="active btn-primary"><a href="/deposit/r" class=" text-white"><h5 class=" text-white" style="font-weight: 900 !important;">Destination tag</h5></a></li>
</ul>
<script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
<%_ if (method=="x") { _%>
	<br />
	<div class="row">
	<style>
	                div.qr { display: block }
	                div.qr img { width: 200px; height: 200px; display: inline-block !important; }
	            </style>
	<div class="col-12 text-center">
	<h5>Deposit to address: (click to copy)</h5>
	<h4 class="hidden-xs"><code class="text-primary" data-clipboard-text="<%= xrplAppAccountNoX %>"><b><%= xrplAppAccountNoX %></b></code></h4>
	<h6 class="hidden-sm hidden-lg hidden-md hidden-xl"><code class="text-primary" data-clipboard-text="XV5sbjUmgPpvXv4ixFWZ5ptAYZ6PD28yoUYWAkrR4xbEP4z"><b><%= xrplAppAccountNoX %></b></code></h6>
	<br />
	<span class="text-center">
	If the sending client doesn't accept the X-address displayed above, you can
	<a href="/deposit/r">retrieve the normal address and destination tag</a>.
	<br />
	If you don't know the difference between the X-address and using an address with a destination
	tag, check <a href="https://xrpaddress.info/#whatwhy" target="_blank">xrpaddress.info</a> for more information.
	</span>
	<br />
	<br />
	<div id="qrcode95" class="qr" width="150px" style="margin-top: 0;"></div>
	<script type="text/javascript">
	                    new QRCode(document.getElementById("qrcode95"), "<%= xrplAppAccountNoX %>");
	                </script>
	<br />
<%_ } else { _%>
<div class="well text-center text-danger">
<i class="fa fa-exclamation-triangle"></i>
Please do not forget to enter your Destination Tag when sending your XRP!
</div>
<div class="row">
<div class="col-sm-4 hidden-xs">
<style>
                    div.qr { display: block }
                    div.qr img { max-width: 100%; height: auto; display: inline-block !important; }
                </style>
<div id="qrcode95" class="qr img-responsive" style="margin-top: 0;"></div>
<script type="text/javascript">
                    new QRCode(document.getElementById("qrcode95"), "https://ripple.com/send?to=<%=xrplAppAccountNo %>&dt=<%=xrplDestinationTag%>");
                </script>
</div>
<div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
<div id="qrcode96" class="qr img-responsive" style="margin-top: 0; margin-bottom: 0;"></div>
<script type="text/javascript">
                            new QRCode(document.getElementById("qrcode96"), "https://ripple.com/send?to=<%=xrplAppAccountNo %>&dt=<%=xrplDestinationTag%>");
                        </script>
<br />&nbsp;
</div>
<div class="col-sm-8 col-xs-12 text-center">
<h5>Deposit to (address)</h5>
<h4 class="hidden-xs"><code class="text-primary" data-clipboard-text="<%=xrplAppAccountNo %>"><b><%=xrplAppAccountNo %></b></code></h4>
<h6 class="hidden-sm hidden-lg hidden-md hidden-xl"><code class="text-primary" data-clipboard-text="<%=xrplAppAccountNo %>"><b><%=xrplAppAccountNo %></b></code></h6>
<br />
<h5>Destination Tag</h5>
<h4 class="hidden-xs">
<code class="text-primary" data-clipboard-text="<%=xrplDestinationTag%>"><b><%=xrplDestinationTag%></b></code>
</h4>
<h4 class="hidden-sm hidden-lg hidden-md hidden-xl">
<code class="text-primary" data-clipboard-text="<%=xrplDestinationTag%>"><b><%=xrplDestinationTag%></b></code>
</h4>
<%_ } _%>
<br />
<p class="alert alert-success text-center">
<i class="fa fa-check"></i>
<b>No need to keep this page open, your deposit will still be processed after you leave this page.</b>
</p>
</div>
</div>
<script>
        var clipboard = new ClipboardJS('[data-clipboard-text]')
    </script>
<style>
        [data-clipboard-text] {
            cursor: pointer
        }
        [data-clipboard-text]:hover {
            text-decoration: underline
        }
        [data-clipboard-text]:active {
            text-decoration: none;
            background-color: #333;
            color: #fff;
        }
    </style>
<hr />
<% include footer.ejs %>